@import '../../index';

.album {
  background: $mainGrey;
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-radius: 0.8rem;
  border: 1px solid $mainBlack;
  width: 300px;
  height: 100%;
  min-height: 540px;
  position: relative;

  img {
    width: 100%;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    display: block;
  }

  h5 {
    position: absolute;
    bottom: 0px;
    right: 20px;
    cursor: pointer;
  }

  .song-item {
margin-left: 2rem;
  }
}

.img-container {
  position: relative;
}

.close-btn {
  position: absolute;
  display: block;
  top: 5%;
  right: 5%;
  color: $mainRed;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.img-container:hover .close-btn {
  opacity: 1;
}

.album-info {
  padding: 1rem 0.5rem;
  position: relative;
  min-height: 220px;

  h2 {
    text-transform: uppercase;
  }

  .smaller-font {
    font-size: 24px;
  }

  h4 {
    color: $mainBlack;
    margin: 0.2rem 0 0.6rem;
  }

  ol {
    color: $mainBlack;
    font-size: 14px;
  }
}

.draggable {
  cursor:move;
}