@import "../../index";

.navbar {
  background: $mainBlack;
  padding: 0.5rem 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.logo-image {
  width: 75px;
}

.title-wrapper {
  text-align: center;

  width: 100%;
}